.form-control {
    width: 100% !important;
    margin-bottom: 10px !important;
}
.notes-wrapper .single-note-wrapper {
    padding: 5px;
}

.notes-wrapper .inner-wrapper {
    border: 1px solid #ccc;
    padding: 5px;
}

.notes-wrapper .inner-wrapper .title {
    text-transform: uppercase;
    font-style: bold;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
}

.notes-wrapper .inner-wrapper .content {
    text-align: left;
    font-size: 15px;
}

.notes-wrapper .inner-wrapper .actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-wrapper .inner-wrapper .actions button {
    width: 100%;
    margin: 20px 5px 5px 5px;
}

.notes-wrapper textarea {
    width: 100%;
    height: 100%;
}